body {
    color: white;
    background: plum;
    margin: 0px;
}

header{
    border-bottom:solid 4px rgb(225, 42 , 228);
    padding: 20px;
    font-size: 31px;;
    color: rgb(225, 42 , 228);
}

section{
    background:rgb(215, 110, 215);
    padding-bottom: 50px;
    padding-top: 50px ;
    display:flex;
    justify-cintent:center;
}
    chamada-texto{
        margin-right: 5%;
    }
h1{
    font-size:40px;
}
p{
    font-size:20px;
    categoria-videos{
        display:flex;
        overflow-x:auto;
        gap:10px;
    }
    categoria{
        padding-left:20px;
        padding-right:20px;
        margin-top:50px;
    }
    caregoria-videos img{
        opacity:0.5;
        height:200px;
    }
      categoria-videos img:hover{
          opacity:1.0;
          border:3px plum;
      }
    categoria h2{
        color:rgb(225, 42 , 228)
